* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}

body {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(12, 1fr);
	background-color: #222;
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #dfd6cb;
	}
}
