---
import BaseLayout from "../layout/BaseLayout.astro";
---

<style>
    h1 {
        grid-column: 2 / span 11;
        text-align: left;
        color: white;
    }
    article {
        grid-column: 2 / span 10;
        color: white;
    }

    article a {
        color: #00e5ff;
    }
    article a:visited {
        color: #3e90dc;
    }

    @media (prefers-color-scheme: light) {
        h1,
        article {
            color: #111;
        }
        article a {
            color: #ff6600;
        }
        article a:visited {
            color: #704b10;
        }
    }

    blockquote p::before {
        content: "\201C";
    }

    blockquote p::after {
        content: "\201D";
    }

    blockquote + p {
        text-align: right;
    }
</style>

<BaseLayout title="About Me">
    <h1 class="container">A little bit about me.</h1>
    <article class="aboutsummary container">
        <h2>Hey.</h2>
        <p>
            My name is Rehan. I like to code and solve problems with the aim of
            saving time and effort for people.
        </p>
        <br />
    </article>

    <article class="container">
        <h2>Quotes</h2>
        <p>Some quotes which I like.</p>
        <br />
        <blockquote
            cite="https://quoteinvestigator.com/2011/05/13/einstein-simple/"
        >
            <p>
                Everything Should Be Made as Simple as Possible, But Not
                Simpler.
            </p>
        </blockquote>
        <p>—Albert Einstein</p>
    </article>

    <article class="container">
        <h2>Credits</h2>
        <p>This website has been built with these technologies</p>
        <ul>
            <li>
                <a href="https://astro.build/">Astro</a> - Website Development Framework
            </li>
            <li>
                Uicons by <a href="https://www.flaticon.com/uicons">Flaticon</a>
            </li>
        </ul>
    </article>
</BaseLayout>
