---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/</title>
</head>
<body>
	<main class="card">
		<div class="intro">
			Hi! My name is
		</div>
		<div class="name">
			Rehan Vipin
		</div>
		<div class="about">
			<p>I like to learn how things work.</p>
			<p>I develop software for fun and profit :)</p>
		</div>
		<div class="contact">
			<span>
				You can reach me at:
			</span>
			<span class="email">
				rehanvipin@proton.me
			</span>
		</div>
	</main>
</body>
</html>
