---
import BaseLayout from "../layout/BaseLayout.astro";
---

<style>
	.card {
		background-color: #111;
		color: #eee;

		border: #aaa 0.1rem solid;
		border-radius: 0.6rem;
	}

	.contact {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 1rem;
		row-gap: 0.5rem;
		justify-content: center;
	}

	.email {
		display: inline-block;
		font-family: monospace;
		background: #222;
		padding: 0.2rem;
		border-radius: 0.5rem;
	}

	@media (prefers-color-scheme: light) {
		.card {
			background-color: #e6d5c1;
			color: #111;
			border: #555 0.1rem solid;
		}
		.email {
			background: #c0b4a4;
		}
	}
</style>

<BaseLayout title="/">
	<article class="card container">
		<h1>WWW Home Page of Rehan Vipin</h1>
	</article>
	<article class="card container about">
		<p>I like to learn how things work.</p>
		<p>I develop software for fun and profit :)</p>
		<p>My most recent learning interest is practical cryptography.</p>
	</article>
	<article class="card contact container">
		<span> You can reach me at: </span>
		<span class="email"> rehanvipin@proton.me </span>
	</article>
</BaseLayout>
