---
import BaseLayout from "../layout/BaseLayout.astro";
---

<style>
	.card {
		background-color: #111;
		color: #eee;

		border: #535353 0.1rem solid;
	}

	.icon-image {
		height: 2rem;
		filter: invert(99%) sepia(5%) saturate(13%) hue-rotate(164deg) brightness(104%) contrast(100%);
	}

	.contact-icons {
		display: flex;
		justify-content: space-evenly;
		padding-top: 1rem;
	}

	@media (prefers-color-scheme: light) {
		.card {
			background-color: #e6d5c1;
			color: #111;
			border: #555 0.1rem solid;
		}
		.icon-image {
			filter: invert(0%) sepia(0%) saturate(1610%) hue-rotate(148deg) brightness(136%) contrast(87%);
		}
	}
</style>

<BaseLayout title="/">
	<article class="card small-container">
		<p>Hi! Welcome to my corner of the internet.</p>
		<p>I'm your host, Rehan.</p>
		<br>
		<p>I develop software for fun and profit :) I've been doing that professionally since 2021.</p>
		<p>If you are interested in working with me, let me know. Here's my <a href="/RehanVipin_Resume.pdf">Résumé</a>.</p>
	</article>
	<article class="card small-container">
		<p> You can reach me at</p>
		<p class="contact-icons">
			<a href="mailto:rehanvipin@proton.me"><img src="/icons/envelope.svg" class="icon-image"/></a>
			<a href="https://www.linkedin.com/in/rehan-vipin"><img src="/icons/linkedin.svg" class="icon-image"/></a>
			<a href="https://github.com/rehanvipin"><img src="/icons/github.svg" class="icon-image"/></a>
		</p>
	</article>
</BaseLayout>
