---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Work">
    <article class="container">
        <h1>Professional work</h1>
        <p>
            These are the roles where I was employed and paid by an
            organization.
        </p>
        <p>
            You can also find this on LinkedIn, but I'll go into more detail
            over here.
        </p>
        <br />

        <h2>Software Engineer <span>@</span> Morgan Stanley ('21 - '26)</h2>
        <p>
            The actual job has been changing every year, even though the team
            was the same. These are some of the responsibilities I have had :
            <ol>
                <li>
                    Technology Lead - This is the newest one. I currently lead
                    the data automation team, architecting the data pipeline for
                    forecasting models.
                </li>
                <li>
                    Backend Engineer - I've developed and managed multiple Java
                    and Python services.
                </li>
                <li>
                    Frontend Engineer - I've architected and built multiple UI
                    features, applications, and guided teammates in their UI dev
                    journey.
                </li>
                <li>
                    DevOps Champion - I'm not kidding. This is the actual name.
                    Accelerate the SDLC process for the team and remove
                    blockers. Pioneered the use of AI for this.
                </li>
                <li>
                    Modernization Champion - Simplify and modernize the
                    applications we are building.
                </li>
                <li>Code Reviewer - Part of the core code reviewer groups. Reviewing 100s of PRs per quarter to improve standards of code and design.</li>
                <li>Intern - I did two internships with the team. 2 months and 6 months. I explored performant data grids and buit a library for visualizing complex dependencies between forecasting models.</li>
            </ol>
        </p>
        <p>
            In this team, we're basically doing product development, except not for the public.
        </p>
        <p>
            In addition to my day job, I also help out my team and co-workers in
            my department solve problems, especially on Infrastructure and CSS.
        </p>
        <br />

        <h2>Research Intern <span>@</span> Ennoventure Inc. ('21)</h2>
        <p>
            This was for a month. I was mainly researching machine learning
            algorithms which could predict patterns. Specifically, Hidden Markov
            Models.
        </p>
        <p>
            I made a POC application to test out different algorithms and their
            performance.
        </p>
        <p>
            I did this along with my semester in college, and was a good
            experience in multitasking.
        </p>
        <br />

        <h2>Research Intern <span>@</span> PES Innovation Lab ('20)</h2>
        <p>
            One of the most intense research work that I have done on
            cutting-edge technologies.
        </p>
        <p>
            The aim was to improve performance for privacy preserving deep
            learning models. Specifically, the ones which use garbled circuits.
        </p>
        <p>This was new research, and there was not much material on this online. We learnt and built the framework</p>
        <p>It was mentally stimulating and I loved it.</p>
        <br />

        <h2>Teaching Assistant for Unix <span>@</span> PES University ('19)</h2>
        <p>I was a teaching assistant for the Unix course, which was being taught to the sophomore batch that year.</p>
        <p>Unix, Linux, and operating systems are something I'm really interested in. I like to do low-level engineering.</p>
        <p>Me and two other TAs designed the assignments and project work for the course. We also graded the work submitted by students.</p>
        <br/>

        <h2>Subject Matter Expert for Blockchain <span>@</span> PESU IO ('19)</h2>
        <p>I designed and taught a course on crypto currencies and blockchain. More on the decentralized platforms and cryptography.</p>
        <p>Students were able to make small meaningful decentralized applications after the course.</p>
        <p>This was in-person and had recorded online classes as well.</p>

        <br />

        <h1>Volunteer work</h1>
        <p>
            These are adhoc activities where I contributed for a specific event.
        </p>

        <h2>Workshop organizer - Morgan Stanley</h2>
        <p>
            Worked with the Katalyst organization to design and conduct two
            in-person coding workhops.
        </p>

        <h2>CSR volunteer - Samarpana Trust</h2>
        <p>
            Me and my colleagues, in partnership with the teachers and staff of
            the trust organized the annual sports day. Twice.
        </p>

        <h2>Organizer - Aatmatrisha 2019</h2>
        <p>This is a college fest. I helped organize a treasure hunt event.</p>
    </article>
</BaseLayout>
