---
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout title="Work">
    <article class="container">
        <h1>Professional work</h1>
        <p>These are the roles where I was employed by an organization.</p>
        <p>
            You can also find this on LinkedIn, but I'll go into more detail
            over here.
        </p>
        <br />
        <h2>Software Engineer <span>@</span> Morgan Stanley</h2>
        <h2>Research Intern <span>@</span> Ennoventure Inc.</h2>
        <h2>Research Intern <span>@</span> PES Innovation Lab</h2>
        <h2>Teaching Assistant for Unix <span>@</span> PES University</h2>
        <h2>Subject Matter Expert for Blockchain <span>@</span> PESU IO</h2>

        <br />

        <h1>Volunteer work</h1>
        <p>
            These are adhoc activities where I contributed for a specific event.
        </p>

        <h2>Workshop organizer - Morgan Stanley</h2>
        <p>
            Worked with the Katalyst organization to design and conduct two
            in-person coding workhops.
        </p>

        <h2>CSR volunteer - Samarpana Trust</h2>
        <p>Organized sports day once a year. Twice.</p>

        <h2>Organizer - Aatmatrisha 2019</h2>
        <p>This is a college fest. I helped organize a treasure hunt event.</p>
    </article>
</BaseLayout>
