<style>
    .navbar {
        background-color: #333;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar a {
        color: white;
    }

    @media (prefers-color-scheme: light) {
        .navbar {
            background-color: #cebfad;
            color: #111;
        }

        .navbar a {
            color: #383838;
        }
    }
</style>

<nav class="navbar">
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/RehanVipin_Resume.pdf">Résumé</a>
</nav>